.git
.claude
.vscode
.github
scripts
env
**/__pycache__
**/*.py[cod]
**/.DS_Store

.gitignore
.python-version
.mcp.json
.isort.cfg
.flake8
.env*
.dockerignore

README.md
CLAUDE.md
Dockerfile
docker-compose.yml
dev.py
requirements*.in
requirements-dev.txt
