name: Build and Deploy Bot

on:
  push:
    tags:
      - "1.*.*"

  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to deploy"
        required: true
        default: ""

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read Python version
        id: python_version
        run: |
          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt

      - name: Format check
        run: |
          black --check .

      - name: Import order check
        run: |
          isort --check-only .

      - name: Linting check
        run: |
          flake8 .

  build:
    runs-on: ubuntu-latest
    environment: production
    needs: checks

    steps:
      - name: Set up Docker image tags
        id: vars
        run: |
          echo "TAG_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Load 1password secrets
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          DOCKER_USERNAME: "op://elon-gpt/github-secrets/DOCKER_USERNAME"
          DOCKER_PASSWORD: "op://elon-gpt/github-secrets/DOCKER_PASSWORD"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Build and push docker image
        run: |
          docker build --no-cache -t ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:${{ env.TAG_VERSION }} -t ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:latest . && \
          docker push ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:${{ env.TAG_VERSION }} && \
          docker push ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:latest

  deploy:
    runs-on: ubuntu-latest
    environment: production
    needs: build

    steps:
      - name: Set up Docker image tags
        id: vars
        run: |
          echo "TAG_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Load 1password secrets
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          DOCKER_USERNAME: "op://elon-gpt/github-secrets/DOCKER_USERNAME"
          DOCKER_PASSWORD: "op://elon-gpt/github-secrets/DOCKER_PASSWORD"
          REMOTE_HOST: "op://elon-gpt/github-secrets/REMOTE_HOST"
          REMOTE_USER: "op://elon-gpt/github-secrets/REMOTE_USER"
          SSH_PRIVATE_KEY: "op://elon-gpt/github-secrets/SSH_PRIVATE_KEY"

          DISCORD_TOKEN: "op://elon-gpt/.env.production/DISCORD_TOKEN"
          OPENAI_API_KEY: "op://elon-gpt/.env.shared/OPENAI_API_KEY"
          OPENAI_MODEL: "op://elon-gpt/.env.shared/OPENAI_MODEL"
          CMC_PRO_API_KEY: "op://elon-gpt/.env.shared/CMC_PRO_API_KEY"
          BACKEND_API_URL: "op://elon-gpt/.env.shared/BACKEND_API_URL"
          BACKEND_API_KEY: "op://elon-gpt/.env.shared/BACKEND_API_KEY"
          OLLAMA_SERVER: "op://elon-gpt/.env.shared/OLLAMA_SERVER"
          OLLAMA_MODEL: "op://elon-gpt/.env.shared/OLLAMA_MODEL"
          ADMIN_USER_ID: "op://elon-gpt/.env.shared/ADMIN_USER_ID"
          UTILS_API_URL: "op://elon-gpt/.env.shared/UTILS_API_URL"
          UTILS_API_KEY: "op://elon-gpt/.env.shared/UTILS_API_KEY"

      - name: Deploy to remote server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ env.REMOTE_HOST }}
          username: ${{ env.REMOTE_USER }}
          key: ${{ env.SSH_PRIVATE_KEY }}
          script: |
            echo "${{ env.DOCKER_PASSWORD }}" | docker login ghcr.io -u "${{ env.DOCKER_USERNAME }}" --password-stdin
            docker pull ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:${{ env.TAG_VERSION }}
            docker rm -f elongpt-bot || true
            docker run -d -t \
              -e OPENAI_API_KEY="${{ env.OPENAI_API_KEY }}" \
              -e OPENAI_MODEL="${{ env.OPENAI_MODEL }}" \
              -e DISCORD_TOKEN="${{ env.DISCORD_TOKEN }}" \
              -e CMC_PRO_API_KEY="${{ env.CMC_PRO_API_KEY }}" \
              -e BACKEND_API_URL="${{ env.BACKEND_API_URL }}" \
              -e BACKEND_API_KEY="${{ env.BACKEND_API_KEY }}" \
              -e OLLAMA_SERVER="${{ env.OLLAMA_SERVER }}" \
              -e OLLAMA_MODEL="${{ env.OLLAMA_MODEL }}" \
              -e ADMIN_USER_ID="${{ env.ADMIN_USER_ID }}" \
              -e UTILS_API_URL="${{ env.UTILS_API_URL }}" \
              -e UTILS_API_KEY="${{ env.UTILS_API_KEY }}" \
              --restart always \
              --name elongpt-bot \
              "ghcr.io/${{ env.DOCKER_USERNAME }}/elongpt:${{ env.TAG_VERSION }}"
